<%  @listings = Listing.all.where(:featured => true) %>
<% @listings.each do |list| %>
  <div class="row">
      <div class="col-lg-4 col-sm-5"><%= image_tag list.image, class: "img-responsive img-circle", alt: "properties" %></div>
      <div class="col-lg-8 col-sm-7">
        <h5><%= link_to list.title, listing_path(list) %></h5>
        <p class="price">R <%= list.price %></p> </div>
    </div>
    <% end %>